.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 0.3fr);
}

.logo {
  max-width: 150px;
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 2/3;
  min-height: 100px;
  margin-top: -20px;
}
.searchInput {
  grid-column: 2 /5;
  grid-row: 2/3;
  /* border: 2px solid; */
  /* margin-top: -20px;;  */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  text-align: center;
  color: gray;
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
}
.mb-3 {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.inputSearch {
  max-width: 500px;
  width: 100%;
  text-align: center;

  /* margin: auto; */
}
h1 {
  /* color: red */
}
.results {
  text-align: center;
  display: none;
}
.noResults {
  display: none;
  text-align: center;
}
.lat-lng {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lat,
.lng {
  max-width: 400px;
  width: 100%;
  min-height: 100%;
}
.latAndLng {
  /* display: block; */
}
.noLatOrLng {
  display: none;
}
.searchTitle {
  text-align: center;
}
