.heading {
  width: 100%;
  font-family: "Oxygen";
  text-align: center;
  margin-bottom: 20px;
}
.logo {
  max-width: 150px;
}
.inputAndBtn {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: auto;
}
.searchInput {
  border-radius: 5px;
  /* border: 2px solid lightgray; */
  max-width: 600px;
  width: 100%;
  font-family: "Oxygen";
  text-align: center;

}
.searchBtn {
  /* height: 42px; */
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 40px;
  font-family: "Oxygen";
  cursor: pointer;

}
.map,
.iframe {
  border: 2px solid;
  max-width: 500px;
  width: 100%;
  margin: auto;
  min-height: 300px;
  text-align: center;
  margin-top: 10px;
}

@media only screen and (max-width: 740px) {
  .logo {
    display: none;
  }
}
